body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 50px; /* adjust this value to control the space between the navbar and the input fields */
}

label {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #15cdfc;
  color: white;
  

  /* make the size of the submit button the same as the input boxes */
  width: calc(210px);
  
  /* hover effect */
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px,
      rgba(0, 0, 0, 0.1) 0px 10px 6px; /* add shadow */
    background-color: #17a2b8; /* change color */
  }

  /* active (clicked) effect */
  &:active {
    transform: translateY(2px);
  }
}

.success-message,
.error-message {
  position: relative;
  padding: 10px;
  border-radius: 4px;
}
.success-message {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
}
.error-message {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}
.success-message button,
.error-message button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius:34px
}

.slider.round:before {
    border-radius:50%
}

.search-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form-card {
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 30px 50px 50px 50px;
}

/* Results of the search queries returned as cards */
.book-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.search-results {
  flex: 1;
}

.book-list-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.book-card {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.book-card h3 {
  margin-top: 0;
}